* {
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 247, 248);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 95%;
    margin: auto;
}

/*////////////////////// start nav /////////////////////////*/
nav {
    width: 100%;
    height: 55px;
    background-color: rgb(77, 99, 111);
    display: flex;
    position: sticky;
    top: 0;
    margin-bottom: 30px;
    overflow: hidden;
    z-index: 1;
}

nav .logo {
    width: 120px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    background-color: rgb(58, 75, 83);
    cursor: pointer;
}

nav .logo i {
    font-size: 15px;
    margin-right: 10px;
}

nav ul {
    width: 300px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    color: #ffffff;
    font-size: 18px;
    width: 60px;
    height: 55px;
    position: relative;
}

nav li i{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

nav li:hover {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

.lastli {
    position: relative;
    width: 80px;
}

.lastli i{
    left: 30px;
}
.lastli:hover{
    background-color: rgba(255, 255, 255, 0.452);


}
.lastli::before {
    content: "3";
    font-size: 15px;
    font-weight: bold;
    padding-top: 2px;
    text-align: center;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 10px;
    border-radius: 50%;
    background-color: rgb(37, 167, 37);
}

.user-image {
    width: 70px;
    height: 55px;
    position: absolute;
    right: 0;
    text-align: center;
    padding-top: 12px;
}

nav img {
    width: 30px;
    border-radius: 50%;
    cursor: pointer;
}

nav .user-image:hover {
    background-color: #ffffff;
}

/*////////////////////// start div par /////////////////////////*/

.par {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(245, 247, 248);
}

.par .s11,
.par .s12,
.par .s13,
.par .s14,
.par .s21,
.par .s22,
.par .s23,
.par .s24,
.par .s31,
.par .s32,
.par .s33,
.par .s34 {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 0 rgb(190, 190, 190);
}

.par .s1,
.par .s2,
.par .s3 {
    background-color: rgb(245, 247, 248);
    display: flex;
    flex-direction: column;
}

.par .s1 {
    width: 20%;
}

.par .s2 {
    width: 60%;
}

.par .s3 {
    width: 15%;
}

/*------------------- start section 1(1) ----------- */
.par .s1 .s11 {
    height: 300px;

}

.par .s11 .profile-1 {
    width: 90px;
    margin: auto;
    text-align: center;
    font-weight: bold;

}

.par .s11 img {
    width: 100%;
    border-radius: 50%;
}

.par .s11 hr {
    width: 92%;
    opacity: 0.2;
}

.par .s11 ul {
    position: relative;
}

.par .s11 ul li {
    display: flex;
    height: 40px;
}

.par .s11 ul i {
    position: absolute;
    left: 15px;
    font-size: 15px;
    margin-top: 16px;
    color: rgb(125, 151, 165);
}

.par .s11 ul p {
    margin-left: 5px;
}

/*------------------- start section 1(2) ----------- */
.par .s1 .s12 {
    background-color: rgb(125, 151, 165);

}

.s12 div {
    width: 100%;
    height: 40px;
    color: #e9e8e8;
    padding: 10px;

}

.s12 div:nth-child(2),
.s12 div:nth-child(4){
    display: none;
    height: 60px;
    background-color: #ffffff;
    color: black;
    padding: 20px;
}

.s12 div:nth-child(6) {
    display: none;
    height: auto;
    background-color: #ffffff;
}

.s12 div:nth-child(6) img {
    width: 49%;
    
}
.s12 div:nth-child(1):hover,
.s12 div:nth-child(3):hover,
.s12 div:nth-child(5):hover {
    background-color: #b9b8b8;
    color: black;
}

.s12 div:nth-child(1):hover+div,
.s12 div:nth-child(3):hover+div,
.s12 div:nth-child(5):hover+div {
display: block;
}


.s12 i {
    margin: 0 20px 0 5px;

}



/*------------------- start section 1(3) ----------- */
.par .s1 .s13 {
    height: 120px;
}

.s13 .first {
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
}

.s13 span {
    width: fit-content;
    font-size: 13px;
    color: #ffffff;
    padding: 1px 3px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.s13 .first span:nth-child(1) {
    background-color: rgba(56, 56, 56, 0.95);
}

.s13 .first span:nth-child(2) {
    background-color: rgba(56, 56, 56, 0.9);
}

.s13 .first span:nth-child(3) {
    background-color: rgba(56, 56, 56, 0.85);
}

.s13 .first span:nth-child(4) {
    background-color: rgba(56, 56, 56, 0.8);
}

.s13 .first span:nth-child(5) {
    background-color: rgba(56, 56, 56, 0.75);
}

.s13 .first span:nth-child(6) {
    background-color: rgba(56, 56, 56, 0.7);
}

.s13 .first span:nth-child(7) {
    background-color: rgb(56, 56, 56,0.6);
}

.s13 .first span:nth-child(8) {
    background-color: rgb(56, 56, 56,0.5);
}

.s13 .first span:nth-child(9) {
    background-color: rgb(56, 56, 56,0.4);
}

.s13 .first span:nth-child(10) {
    background-color: rgb(56, 56, 56,0.3);
}

.s13 .first span:nth-child(11) {
    background-color: rgb(56, 56, 56.0.2);
}


/*------------------- start section 1(4) ----------- */
.par .s1 .s14 {
    height: 90px;
    background-color: rgb(223, 229, 232);
    position: relative;
}

.s14 .x{
    width: 30px;
    height: 30px;
    position: absolute;
    color: rgb(212, 18, 18);
    right: 0;
    top: 0;
    background-color: rgb(163, 163, 163);
}

.s14 p:first-child {
    font-weight: bold;
}

.s14 p {
    margin: 10px 10px;
}

/*------------------- start section 2----------- */
/*------------------- start section 2(1) ----------- */
.par .s21 {
    height: 150px;
}

.s2 .s21 p {
    opacity: 0.4;
}

.s2 .s21 input {
    width: 100%;
    height: 40px;
}

.s2 .s21 input::placeholder {
    color: black;

}

.s2 .s21 button,
.s2 .s22 button,
.s2 .s23 button {
    margin-top: 15px;
    padding: 8px 15px;
    border: #ffffff;
    background-color: rgb(125, 151, 165);
    color: #ffffff;
}

.s2 .s21 button i,
.s2 .s22 button i,
.s2 .s23 button i {
    font-size: 12px;
    margin-right: 2px;
}

.s2 .s21 button:hover,
.s2 .s22 button:hover,
.s2 .s23 button:hover {
    background-color: rgb(161, 159, 159);
    color: black;
    cursor: pointer;
}

/*------------------- start section 2(2) ----------- */

.par .s22 {
    height: 500px;
}

.s22 .first,
.s23 .first {
    height: 100px;
    display: flex;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);

}

.s22 .first img,
.s23 .first img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
}

.s22 .first p:first-of-type,
.s23 .first p:first-of-type {
    font-size: 30px;
    position: absolute;
    left: 80px;
}

.s22 .first p:nth-child(3),
.s23 .first p:nth-child(3) {
    font-size: 15px;
    opacity: 0.4;
    position: absolute;
    top: 10px;
    right: 10px;
}

.s22 .im {
    display: flex;
    justify-content: space-between;
}

.s22 .im img {
    width: 49%;
}


/*------------------- start section 2(3) ----------- */

.par .s23 {
    height: 250px;

}


/*------------------- start section 3----------- */

.par .s31 {
    height: 300px;
}

.s31 p {
    text-align: center;
}

.s31 img {
    width: 100%;
}

.s31 p:nth-last-of-type(2) {
    font-weight: bold;

}

.s31 button {
    width: 100%;
    height: 30px;
    border: 1px solid #ffffff;
}

.s31 button:hover {
    cursor: pointer;
    background-color: #cac8c8;
}

/*------------------- start section 3(2) ----------- */

.par .s32 {
    height: 250px;
    text-align: center;

}

.s32 img {
    width: 50%;
}

.s32 button:nth-of-type(1) {
    width: 35%;
    padding: 5px 10px;
    color: #ffffff;
    background-color: rgb(69, 161, 69);
    border: 1px solid #ffffff;
}

.s32 button:nth-of-type(2) {
    width: 35%;
    padding: 5px 10px;
    color: #ffffff;
    background-color: rgb(228, 46, 46);
    border: 1px solid #ffffff;
}

.s32 button:nth-of-type(1):hover,
.s32 button:nth-of-type(2):hover {
    cursor: pointer;
    background-color: #cac7c7;
    color: rgb(128, 125, 125);

}

/*------------------- start section 3(3) ----------- */

.par .s33 {
    height: 80px;
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
}

/*------------------- start section 3(4) ----------- */
.par .s34 {
    height: 150px;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}

footer {
    width: 100%;
    height: 60px;
    background-color: rgb(77, 99, 111);
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

footer span {
    text-decoration: underline;
    cursor: pointer;
}
